<div class="row">
    <div class="col s2">
        <div class="col s8 left-align">
            {{#each article}}
            <div class="card-panel">
                <img class="cardImage" src="{{image}}"/>
                <h4>{{this.title}}</h4>
                
                <a href="/readArticle/{{this._id}}" class="waves-effect waves-light btn" id="btnSignUp">Read Article</a>
                <p>{{titleSum}}</p>
                <button class="saveArtBut" data-id="{{_id}}">Save</button>
                
            </div>
            {{/each}}
        </div>
    </div>
</div>