
<div class="row">
    {{#each savedArticles}}
<div class="card mx-auto" style="width: 25rem;">
    
    <img class="card-img-top" src="{{image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{titleSum}}</p>
        <a href="{{link}}" class="btn btn-primary">Read About</a>
        <a href="/readArticle/{{_id}}" class="btn btn-success" id="btnSignUp">Comment</a>
        <button class="deleteArtBut btn btn-danger" data-id="{{_id}}">Delete</button>
  </div>
  {{/each}}
</div>
</div>
